<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/images/info_logo.png")" rel="shortcut icon"/>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/web.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/device.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")" type="text/javascript"></script>
</head>

<body>
    @RenderBody()
</body>
</html>
